@import '../../../styles.scss';

mat-expansion-panel {
    width: $max-width-card-quote + 4rem;
    margin: 0 auto;

    mat-panel-title {
        justify-content: center;
    }
}

mat-card {
    min-height: 10rem;
    max-height: $max-height-card-quote;
    width: $max-width-card-quote;
    margin: 0 auto 5rem;

    mat-form-field {
        display: flex;

        textarea {
            max-height: 4rem;
        }
    }

    mat-card-footer {
        position: absolute;
        bottom: -5rem;
        width: 100%;

        mat-card-actions {
            justify-content: space-evenly;
            gap: 1rem;
        }
    }
}