@import '../../../styles.scss';

mat-card {
    min-height: 10rem;
    max-height: $max-height-card-quote;
    max-width: $max-width-card-quote;
    margin: 5rem auto 1rem;
}

mat-form-field {
    display: flex;
}

mat-card-actions {
    position: absolute;
    top: -5rem;
    width: 100%;
    
    button {
        margin: 0 2rem 0 auto;
    }
}