@import '../../../styles.scss';

mat-card {
    min-height: 10rem;
    max-height: $max-height-card-quote;
    width: $max-width-card-quote;
    margin: 5rem auto 1rem;
}

mat-form-field {
    display: flex;
}

button {
    position: absolute;
    right: 0.8rem;
    top: 0;
    z-index: -1;
    transition: top 0.4s ease;
}

button.pop {
    top: -2.6rem;
}