:host {
    display: flex;
    width: 100%;
    gap: 1rem;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.author {
    flex: 20%;
}

.sentence {
    flex: 80%;
}